/* Bruna Pazinato · fonte */

:root{
  --font-name:    "Gambetta", "Iowan Old Style", Georgia, "Times New Roman", serif;
  --name-axes:    normal;

  --font-display: "Gambetta", "Iowan Old Style", Georgia, "Times New Roman", serif;
}
